.expense-table {
  width: 100%;
    max-width: 800px; 
    border-collapse: collapse;
    color: #000;
    margin-top: 8rem;
    margin-left: 15rem;
    overflow-x:auto;
} 
  .expense-table th, .expense-table td {
    padding: 8px;
    text-align: left;
  }
  
  .expense-table th {
    background-color: #ccddf0;
    
  }
  .expense-table tr{
    background-color: #f8f8f8;;
  }
  .expense-table tr:hover {
    background-color: #d7dadb;
  }
  
  .expense-table th, .expense-table td {
    border: none;
  }
  
 
  @media (max-width: 768px) {
    .expense-table {
      margin-left: auto; 
      margin-right: auto;
    }
  
    .expense-table th,
    .expense-table td {
      font-size: 14px;
    }
  }
